body {
    box-sizing: border-box;
    margin: 0;
    --header-height: 7vh;
    --content-height: calc(100vh - var(--header-height));
}

header {
    background-color: rgb(22, 216, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--header-height);
}

header > nav > button {
    color: #fff;
    background: none;
    border: none;
    font-size: 1.75rem;
    padding: 15px;
    cursor: pointer;
}

header > nav > button:hover {
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0.25turn, lightpink, #ebf8e1, lightskyblue);
    min-height: var(--content-height);
}

.content > .info {
    background-color: #fff;
    padding: 50px;
    height: var(--content-height);
    font-size: 1.3rem;
    box-shadow: 2px 2px 5px lightgray, -3px 3px 5px lightgray;
}

.info ul {
    list-style: none;
}

h1 {
    text-decoration: underline;
}